<h5>2021</h5>
<a href="https://ldjam.com/events/ludum-dare/49/toy-tactics" target="_blank">Ludum Dare 49</a>
<a href="https://ldjam.com/events/ludum-dare/48/in-too-deep-2" target="_blank">Ludum Dare 48</a>
<a href="https://horsehead.itch.io/airport-lost-found-division" target="_blank">Global Gamejam</a>

<hr style="color:white">

<h5>2020</h5>
<a href="https://horsehead.itch.io/team-swap-heroes" target="_blank">Minijam 48</a>
<a href="https://horsehead.itch.io/somewhere-in-berkshire" target="_blank">Portsmouth University Gamejam</a>
<a href="https://ldjam.com/events/ludum-dare/46/the-dragonsitter" target="_blank">Ludum Dare 46</a>
<a href="https://ldjam.com/events/ludum-dare/47/driven-round-the-loop" target="_blank">Ludum Dare 47</a>
<a href="https://amy-elliott.itch.io/blockyroads" target="_blank">TDEMO Hypercasual</a>
<a href="https://horsehead.itch.io/boxy-see-boxy-do" target="_blank">GMTK Gamejam</a>
<a href="https://amy-elliott.itch.io/poppin-hoppin-unlockin" target="_blank">TDEMO Fantasy Platformer</a>
<a href="https://amy-elliott.itch.io/aqua-adventure" target="_blank">TDEMO Starfox</a>
<a href="https://laylamccahon.itch.io/pet-pals" target="_blank">TDEMO Incremental</a>

<hr style="color:white">

<h5>2019</h5>
<a href="https://horsehead.itch.io/gmtk-gamejam-2019" target="_blank">GMTK Gamejam</a>
<a href="https://amy-elliott.itch.io/captain-says" target="_blank">Community Gamejam</a>
<a href="https://ldjam.com/events/ludum-dare/45/village-simulation-game" target="_blank">Ludum Dare 45</a>
<a href="https://horsehead.itch.io/gamejam-2019" target="_blank">Portsmouth University Gamejam</a>
