
<div class="col-lg-3">
    <div class="card">
        <div class="card-header">Các thể loại Blog</div>
        <div class="card-body text-dark" style="line-height: .5; flex: 1 1 auto;
        padding: 1rem;">
            {%- include blog_types.html -%}
        </div>
    </div>
    <div class="card">
        <div class="card-header">Danh mục</div>
        <div class="card-body text-dark" style="line-height: .5">
            {%- include blog_categories.html -%}
        </div>
    </div>
    <div class="card">
        <div class="card-header">Tác giả </div>
        <div class="card-body text-dark">
            {%- include blog_authors.html -%}
        </div>
    </div>
</div>
