<li>
    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" alt="Game Development Blogs" style=" border-radius: 5px; padding: 2px">--> <a href="{{ site.baseurl }}/blog/categories/crypto" style="background-color: seagreen !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Blogs Crypto </a>
</li>
<br /><br /><br /><br />
<li>
    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/personal32.png" alt="Personal Blogs" style=" border-radius: 5px; padding: 2px">--> <a href="{{ site.baseurl }}/blog/categories/personal" style="background-color: firebrick !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Blogs cá nhân </a>
</li>
<br /><br /><br /><br />
<li>
    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/study32.png" alt="Study Blogs" style=" border-radius: 5px; padding: 2px">--> <a href="{{ site.baseurl }}/blog/categories/study" style="background-color: darkslateblue !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Blogs học tập </a>
</li>
<br /><br /><br /><br />
<li>
    <!--<img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/study32.png" alt="Study Blogs" style=" border-radius: 5px; padding: 2px">--> <a href="{{ site.baseurl }}/blog/categories/misc" style="background-color: #003261 !important; color: rgb(199, 199, 204) !important; padding: 10px; border-radius: 20px 0px;">Blogs khác </a>
</li>