<address-fields section="top">
    <div>
        <snipcart-label for="phone">
            Số điện thoại
        </snipcart-label>
        <snipcart-input name="phone">
        </snipcart-input>
    </div>
</address-fields>

<billing section="bottom">
    <fieldset class="snipcart-form__set">
        <div class="snipcart-form__field">
            <div class="snipcart-form__field-checkbox">
                <snipcart-checkbox name="subscribeToNewsletter"></snipcart-checkbox>
                <snipcart-label for="subscribeToNewsletter" class="snipcart__font--tiny snipcart-form__label--checkbox">
                    Subscribe to newsletter
                </snipcart-label>
            </div>
        </div>
    </fieldset>
</billing>

<payment section="top">
    <div>
        <p>
            <snipcart-checkbox name="privacy-policy" required></snipcart-checkbox>
            <snipcart-label for="privacy-policy">Tôi đã đọc và đồng ý với &nbsp;<a href="https://nguyenquocdat.info/privacy-policy/">Chính sách bảo mật</a></snipcart-label>
        </p>
    </div>
</payment>