<div hidden id="snipcart" data-api-key="Y2E5ZDMzZWEtYjUyOC00NGVmLTgxMjctNWE0ZmVjZTU5YmEzNjM3ODAyNjkxMjAyNDI1MTA0">
    <address-fields>
    <div>
      <fieldset class="snipcart-form__set">
        <div class="snipcart-form__field">
          <snipcart-label
            class="snipcart__font--tiny"
            for="country"
          > Quốc Gia
        </snipcart-label>
          <snipcart-typeahead type="dropdown" name="country" autocomplete="country"></snipcart-typeahead>
        </div>

      </fieldset>
    </div>
  </address-fields>


<billing section="bottom">
    <fieldset class="snipcart-form__set">
        <div class="snipcart-form__field">
            <div class="snipcart-form__field-checkbox">
                <snipcart-checkbox name="subscribeToNewsletter"></snipcart-checkbox>
                <snipcart-label for="subscribeToNewsletter" class="snipcart__font--tiny snipcart-form__label--checkbox">
                    Đăng kí bản tin miễn phí
                </snipcart-label>
            </div>
        </div>
    </fieldset>
</billing>

</div>
