---
layout: full-width
title: home
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>

<!-- hero section-->
{%- include hero.html -%}
<div class="col-lg-8 offset-md-2">
    {%- include recent_articles.html -%}
</div>

<div class="card">
    {%- include contact_me_footer.html -%}
</div>

    <!---------------------------------------->
    <!--WebGL Games On Web Page-->
    <!---------------------------------------->
    <!--<iframe src="{{site.url}}{{site.baseurl}}/assets/WebGL/PortsmouthGJ2020/index.html" style="border:0px #000000 none;" name="Game name" scrolling="no" frameborder="1" marginheight="px" marginwidth="320px" height="320px" width="480px"></iframe>-->