---
layout: wip
---

<div class="card-title" style="padding-top: 40px; padding-bottom: 10px; width: 100%; z-index: 1000">
    <h2 style="text-align: center">These are my favorite books</h2>
    <!-- <p style="text-align: center">The games with the <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad24.png" alt="Play on browser" style=" border-radius: 5px; padding: 2px"> icon on them can be played on this website!</p> -->
</div>

<div class="libcard" style="width: 100%; z-index: 1000; margin: 0px !important; padding: 10px !important">
    <h2 style="margin-left: 100px; margin-right:100px; text-align: center">Information Technology Books</h2>
</div>
<div class="card"> 
    <div class="row" id="lib-posts-container" style="margin-left: 90px; margin-right:90px; place-content: center;">
        {% for book in site.book_cat1 %} {% if book.visibility == true %}
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 300px; width:auto">
            <a href="{{site.url}}{{site.baseurl}}{{book.book_blog}}" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img{{book.book_thumbnail}}" id="lib-pic" alt="Jagex" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                </div>
                <div class="card-body center">
                    <h4 class="card-title">{{book.book_title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{book.book_release}}</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{book.tag1}}</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{book.tag2}}</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{book.tag3}}</small>
                </div>
            </a>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<div class="libcard" style="width: 100%; z-index: 1000; margin: 0px !important; padding: 10px !important">
    <h2 style="margin-left: 100px; margin-right:100px; text-align: center">Personal books </h2>
</div>
<div class="card">
    <div class="row" id="lib-posts-container" style="margin-left: 90px; margin-right:90px; place-content: center;">
        {% for book in site.book_cat1 %} {% if book.visibility == true %}
        <div class="card lib-post" style="border-radius: 40px 40px 5px 5px; padding: 20px; min-width: 300px; width:auto">
            <a href="{{site.url}}{{site.baseurl}}{{book.book_blog}}" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                <div id="lib-images-container">
                    <img class="card-img-top" src="{{site.baseurl}}/assets/img{{book.book_thumbnail}}" id="lib-pic" alt="Jagex" style="border-radius: 40px 40px 5px 5px; position: relative; bottom: 0; left: 0; z-index:0;">
                    {% if book.browser_playable == true %}
                    <img src="{{site.baseurl}}/assets/img/posts/icons/gizmos/gamepad32.png" id="lib-small-image" alt="Play on browser" style="position:absolute; background-color: rgba(255, 255, 255, .4); border-radius: 5px; padding: 5px">
                    {% endif %}
                </div>
                <div class="card-body center">
                    <h4 class="card-title">{{game.game_title}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{game.game_release}}</h6>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{game.tag1}}</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{game.tag2}}</small>
                    <small class="btn btn-col" style="font-size: small; padding: .1rem .5rem; display:inline; background-color: darkslategrey">{{game.tag3}}</small>
                </div>
            </a>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

{%- include back-to-top.html -%}

<!-- {%- include contact_me_footer.html -%} -->