---
layout: default
---
<style>
    ol.m {list-style-type: lower-latin;}
</style>
</div>
<div class="container">
        <div class="row d-flex justify-content-center">
                <div class="col-10 m10">
                        <div class="card">
                                <h1 class="card-title"> Chính sách bảo mật </h1>

                                <ol>
                                    <strong><li>Chúng tôi thu thập những thông tin gì?</li></strong>
                                    Chúng tôi thu thập những thông tin khi bạn đăng kí tài khoản trên trang web của chúng tôi.
                                    Dữ liệu cá nhân bao gồm:
                                    <ul>
                                        <li>Họ tên</li>
                                        <li>Email</li>
                                        <li>Số điện thoại</li>
                                        <li>Địa chỉ</li>
                                    </ul>
                                    Bạn có thể chỉnh sửa thông tin ở trang quản lý tài khoản.
                                    <strong><li>Chúng tôi sẽ làm gì với thông tin của bạn?</li></strong>
                                    Chúng tôi thu thập thông tin của bạn cho mục đích:
                                    <ul>
                                        <li>Xử lý đơn hàng, quản lý địa chỉ để giao hàng (với những đơn hàng có thể giao hàng)</li>
                                        <li>Email đăng kí để nhận thông báo liên kết tải xuống các sản phẩm kỹ thuật số hoặc các thông báo khác</li>
                                        <li>Liên hệ với bạn hoặc liên lạc với bạn qua điện thoại, tin nhắn văn bản, email nhằm mục đích quản trị quan hệ của bạn với chúng tôi</li>
                                        <li>Giải quyết hoặc tạo điều kiện dịch vụ khách hàng, thực hiện các khiếu nại của bạn, giải quyết hoặc trả lời bất kỳ thắc mắc nào được gửi bởi (hoặc nhằm được gửi bởi) bạn hoặc thay mặt bạn;</li>
                                    </ul>
                                    <strong><li>Bảo mật</li></strong>
                                    Bảo mật thông tin của khách hàng là trách nhiệm của chúng tôi. Các thông tin đăng ký mua hàng của bạn sẽ được bảo mật thông qua SSL - Secure Sockets Layer (Công nghệ mã hoá an toàn). Chúng tôi luôn cố gắng sử dụng phương tiện mã hoá an toàn để bảo vệ thông tin cá nhân của khách hàng, tuy nhiên chúng tôi không thể đảm bảo an ninh tuyệt đối. Nếu có thắc mắc về bảo mật, xin liên hệ với tôi qua email datnq.ptit@gmail.com
                                    <strong><li>Chúng tôi có cung cấp thông tin cho bên khác không?</li></strong>
                                    Chúng tôi không buôn bán, trao đổi, hoặc sử dụng các thông tin thương mại khác với thông tin cá nhân của khách hàng.
                                    <strong><li>Nếu bạn có thắc mắc, hãy liên hệ với chúng tôi</li></strong>
                                    Nếu có thắc mắc, liên hệ với tôi qua email datnq.ptit@gmail.com
                                </ol>
                        </div>
                </div>
        </div>
</div>
